/*--------- John McCutchan ------------*/
body{
  background-color: rgba(127, 140, 141,1.0);
}
.card{
  border: 5px solid rgba(0, 0, 0,1.0);
  border-radius: 5px;
}
.card-block{
  min-height: 250px;
  background-color: rgba(255, 255, 255,1.0);
}
#cardsGoHere{
  margin-top:100px;
}
.card-img-top{
  display: block;;
  margin: 0 auto;
}
.btn.btn-outline-success{}
.focusStyle{
  background-color: red;
}
.form-control:focus{
  border:3px solid #5cb85c;
  box-shadow: none;
  -webkit-box-shadow: none;
}
