/*--------- John McCutchan ------------*/
body{
  background-color: rgba(127, 140, 141,1.0);
}
.card-block{
  min-height: 250px;
  background-color: rgba(255, 255, 255,1.0);
}
#cardsGoHere{
  margin-top:100px;
}
.card-img-top{
  display: block;;
  margin: 0 auto;
}
.btn.btn-outline-success{}
